{{ '{{- range .Values.namespaces }}' }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ '{{ .name }}' }}
  labels:
    app.kubernetes.io/managed-by: flux
{{ '{{- if .labels }}' }}
{{ '{{- range $key, $value := .labels }}' }}
    {{ '{{ $key }}' }}: {{ '{{ $value | quote }}' }}
{{ '{{- end }}' }}
{{ '{{- end }}' }}
{{ '{{- end }}' }}
